.welcome-content {
  width: 60%;
  margin: 50px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  background-color: white;
}

.home {
  background-color: #7550a6;
}

.home-header {
  margin: 0px;
  font-family: 'Josefina', sans-serif;
  padding: 0, 0;
}
